<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head.ejs'); %>
</head>
<header>
  <%- include('header.ejs'); %>
</header>
<body>
<h1> Items list</h1>
<table>
  <thead>
  <tr>
    <th>name</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= array.Nom %></td>
    </tr>

  </tbody>
</table>
</body>
</html>